::-webkit-scrollbar
    width 10px
    height 10px
::-webkit-scrollbar-thumb
    border-radius 5px
    background-color #4e6ef2
::-webkit-scrollbar-track
    background-color transparent
body::-webkit-scrollbar
    background transparent
body::-webkit-scrollbar, body::-webkit-scrollbar-thumb
	width 8px
	height 8px
body::-webkit-scrollbar-thumb 
	background-color rgba(87,93,108,.6)
body::-webkit-scrollbar-thumb
    border-radius 4px
body::-webkit-scrollbar, body::-webkit-scrollbar-thumb
    width 8px
    height 8px
